<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
    <compilation debug="true"/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="logon.aspx" name="adAuthCookie" timeout="10" path="/">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<identity impersonate="false"/>
	</system.web>
</configuration>


